<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' '../app/Resources/public/css/*' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>


<body>
    <div class="container" id="white_background">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://wierzba.wzks.uj.edu.pl/~13_skoczen/pictures/header/naglowek2.png" alt="header" class="img-fluid">
                </div>
            </div>
        </div>

            <!-- Fixed navbar -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav nav-pills navbar-left">
                    <li class="active"><a href="{{ path('home_index') }}">{{ 'label.home'|trans }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'label.contestants'|trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('contestant_index') }}">{{ 'label.contestant.open.index'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('contestant_index_sex', {'sex': 'f'}) }}">{{ 'label.contestant.women.index'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('contestant_index_sex', {'sex': 'm'}) }}">{{ 'label.contestant.men.index'|trans }}</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{{ path('school_index') }}">{{ 'label.schools'|trans }}</a></li>
                    <li><a href="{{ path('city_index') }}">{{ 'label.cities'|trans }}</a></li>
                    <li><a href="{{ path('competition_index') }}">{{ 'label.competitions'|trans }}</a></li>
                </ul>
                <ul class="nav nav-pills navbar-right">
                    <li class="active"><a href="../navbar/">{{ 'label.login'|trans }}</a></li>
                </ul>
                </div><!--/.nav-collapse -->
        </nav>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </div>


    {% block javascripts %}
        {% javascripts '@jquery' '@bootstrap_js' '../app/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}


</body>


</html>