{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.score.add'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'title.score.add'|trans }}
    </h1>

    {% include 'default/_form.html.twig' with {
    attr: {
    method: 'post',
    action: url('score_add', {'competition_id': competition_id})
    },
    } %}

    <div class="btn-group">
        <a href="{{ path('competition_view', {'id': competition_id}) }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
            {{ 'action.index'|trans }}
        </a>
    </div>
{% endblock %}