{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.score.delete'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'title.score.delete'|trans }}
    </h1>

    {% if score is defined and score|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.place'|trans }}</th>
                <th>{{ 'label.points'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.contestant.surname'|trans }}</th>
                <th>{{ 'label.contestant.name'|trans }}</th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td>{{ score.place }}</td>
                <td>{{ score.points }}</td>
                <td>{{ score.category.name }}</td>
                <td>{{ score.contestant.surname }}</td>
                <td>{{ score.contestant.name }}</td>
            </tr>


            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

    <h2>
        {{ 'question.confirmation'|trans }}
    </h2>

    {% include 'default/_form.html.twig' with {
    attr: {
    method: 'post',
    action: url('score_delete', {'id': score.id})
    },
    submit_label: 'usuń'
    } %}

    <br>
    <br>
    <div class="btn-group">
        <a href="{{ path('competition_view', {'id': competitionId}) }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
            {{ 'action.index'|trans }}
        </a>
    </div>
{% endblock %}