{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.city.delete_error'|trans }}
{% endblock %}

{% block body %}
    {% if city is defined and city|length %}
        <h1>
            Nie mozesz usunac miasta: {{ city.name }}
        </h1>
        <p>poniewaz jest powiazane z wpisem "zawody":</p>

        {% if competitions is defined and competitions|length %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'label.date'|trans }}</th>
                    <th>{{ 'label.city'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in competitions %}
                    <tr>
                        <td>{{ item.date|date('Y-m-d') }}</td>
                        <td>{{ item.city.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        {% endif %}
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}


    <div class="btn-group">
        <a href="{{ path('city_index') }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
            {{ 'action.index'|trans }}
        </a>
    </div>
{% endblock %}