{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.categories'|trans }}
{% endblock %}

{% block body %}


    <div class="container">
        {% include 'default/_flash_messages.html.twig' %}
    </div>

    <h1>{{ 'title.categories'|trans }}</h1>
    {% if categories is defined and categories|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in categories %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}


    <div class="navigation text-center">
        {{ pagerfanta(categories, 'twitter_bootstrap3_translated', { routeName: ('category_index_paginated') }) }}
    </div>

{% endblock %}
