{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.competition.delete'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'title.competition.delete'|trans }}
    </h1>

    {% if competition is defined and competition|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.date'|trans }}</th>
                <th>{{ 'label.city'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ competition.id }}</td>
                <td>{{ competition.date|date('Y-m-d') }}</td>
                <td>{{ competition.city.name }}</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

    <h2>
        {{ 'question.competition'|trans }}
    </h2>
    <h2>
        {{ 'question.confirmation'|trans }}
    </h2>

    {% include 'default/_form.html.twig' with {
    attr: {
    method: 'post',
    action: url('competition_delete', {'id': competition.id})
    },
    submit_label: 'delete'
    } %}

    <br>
    <br>
    <div class="btn-group">
        <a href="{{ path('competition_index') }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
            {{ 'action.index'|trans }}
        </a>
    </div>
{% endblock %}